
.navbar {
  height: 100px;
  padding-top: 20px;
}
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.navbar li a {
  color: rgb(241, 233, 233);
}

.active {
  text-decoration-line: underline;
  background-color: darkred;
}

.drop {
  background-color: black;
}

.drop2 {
  background-color: darkred;
}

.body {
  background-color: black;
}

.back-image {
  background-image: url("wallpaper10d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-format {
  color: rgb(240, 235, 235);
}

h2 {
  padding-left: 40px;
}

/* .header-pad {
  padding-left: 220px;
  padding-right: 80px;
} */

.pad {
  padding-left: 280px;
  padding-right: 80px;
}

.pad2 {
  padding-left: 340px;
  padding-right: 150px;
}

.pad3 {
  padding-left: 380px;
  padding-right: 112px;
}

#image {
  width: 320px;
  height: 200px;
  justify-content:right;
  padding: 10px;
}

.vis {
  justify-content:right;
}

.article1 {
  padding-right: 260px;
}

.comparison {
  background-image: url("wallpaper4.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}